table{
    width: 100%;
}

tr{
    background-color: aquamarine;
}

tr:first-child{
    background-color: white;
}

th > div{
    display: flex;
    width: fit-content;
    border-bottom: 3px solid turquoise;
}

td{
    padding: 0px;
    margin: 0px 30px;
}

.icon{
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: inline-block;
    padding: 0;
    background-size: cover;
    background-image: url("./images/icon.png");
}

.icon.small{
    transform: scale(0.4);
    cursor: pointer;
}

.icon.edit{
    background-image: url("./images/edit.png");
}

.icon.more{
    background-image: url("./images/mag.png");
}

.icon.delete{
    background-image: url("./images/trash.jpg");
}

.active{
    background-color: brown;
    color: white;
    opacity: 0.4;
}

#modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: burlywood;
    z-index: 1000;
}

#modal .buttons{
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
}

#modal .buttons button{
    margin: 5px 10px;
}

#modal .content{
    text-align: center;
    display: none;
}